# This is Git's per-user configuration file.
[user]
	name = Douglas Waugh
	email = douglas.waugh.e3@gmail.com 
[core]
	pager = ~/bin/diff-highlight | less
	editor = vi
	autocrlf = true
[credential]
	helper = !\"C:/Program Files (x86)/GitExtensions/GitCredentialWinStore/git-credential-winstore.exe\"
[user]
	name = Douglas Waugh
	email = douglas.waugh@energyhelpline.com
[gui]
[pager]
    diff = diff-highlight | less -FRSX
    show = diff-highlight | less -FRSX
[push]
	default = simple
[diff]
    tool = p4merge
[merge]
    tool = p4merge
[mergetool "p4merge"]
    trustExitCode = true
[mergetool]
    keepBackup = false
[difftool]
    prompt = false	
[alias]
	gs = status
